.art {
    display: flex;
    font-weight: 500;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    white-space: nowrap;
    &__label{
        color: #5c5757;
        @include _1200{
            margin-right: 8px;
        }
    }
    &__value{
        color: #261c04;
        font-size: 14px;
        line-height: 1;
        border: 1px solid #cfcfcf;
        border-radius: 5px;
        padding: 3px 5px 3px;
        outline: initial!important;
        font-weight: 400;
    }
    &__value_hidden{
        position: absolute;
        left: -99999px;
    }
    &__success {
        display: block;
        position: absolute;
        top: -19px;
        color: #47c100;
    }
}